@tailwind base;
@import "windy-radix-palette/base";

@import "windy-radix-palette/blackA.css";
@import "windy-radix-palette/whiteA.css";

@import "windy-radix-palette/tomato.css";
@import "windy-radix-palette/tomatoDark.css";
@import "windy-radix-palette/gray.css";
@import "windy-radix-palette/grayDark.css";
@import "windy-radix-palette/violet.css";
@import "windy-radix-palette/violetDark.css";

@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

html,
body,
#root,
#__next {
  height: 100%;
}

#__next {
  position: relative;
  /* z-index: 0; */
}
